<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Racer Show</title>
</head>
<body>
  <h1>Racers</h1>
  <h2>Racer #<%= racer._id %></h2>
  <h3><%= racer.name %></h3>
  <p>Champion: <%= racer.champ ? 'Yes' : 'No' %></p>
  <a href="/racers">Go Back</a>
</body>
</html>